@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire__me:hover {
  background-color: var(--primary-color-dark);
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
  
}

.image img {
  width: min(25rem, 90%);
  height: 400px;
  margin-top: 80px;
  margin-left: 20px;
  width: 300px;
   /* Adjusted to 50% for circular shape */
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.about-details p {
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.about-details strong {
  color: var(--primary-color);
}

.about-details p:last-child {
  margin-bottom: 0;
}

.options {
  text-align: center;
}

.options ul {
  list-style-type: none;
  padding: 0;
  margin-top: 240px;
  margin-left: 100px;
  display: flex;
  flex-direction: column; /* Changed to column */
  align-items: flex-start; /* Align items to the left */
}

.options li {
  margin-bottom: 10px;
}

.options a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
  display: flex;
  align-items: center;
}

.number {
  background-color: #a855f7;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  margin-right: 10px;
  line-height: 30px;
}
/* styles.css */


.download-button {
  display: block;
  margin-top: 30px;
  width: fit-content;
  margin: 0 auto;
  background-color: #a855f7; /* Violet color */
  color: #ffffff; /* White text */
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem; /* Adjust margin as needed */
}

.resume-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 2rem; /* Adjust padding as needed */
  margin-top: 160px;
  background-color:#e8dcf3;;
}
.details {
  text-align: center;
  margin-top: 50px;
  
}

.details p {
  
  margin-bottom: 10px;
}
.message {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
  font-size: 18px;
  margin-top: 200px;
  font-weight: bolder;
}
.qualification-details {
  margin-top: 20px;
}

.qualification-details p {
  margin-bottom: 10px;
}

.qualification-details img {
  width: 200px; /* Adjust size as needed */
  margin-top: 10px;
  margin-bottom: 20px;
}
.number2 {
  background-color: #7603e1;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px; /* Set line-height equal to height */
}
.subtitle-quali{
  font-size: 24px;
  margin-top: 150px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Add this CSS to your styles.css file */

/* Section Title */
.subtitle-hobbies {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Hobbies Details */
.hobbies-details {
  margin-top: 10px;
}

.hobbies-details p {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 10px;
}

/* Image */
.image-container {
  text-align: right;
}

.image-container img {
  width: 300px;
  height: 500px;
  margin-top: 150px
}
/* Add this CSS to your styles.css file */

/* Section Title */
.subtitle-dreams {
  font-size: 24px;
  margin-top: 120px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.subtitle-studies {
  font-size: 24px;
  margin-top: 150px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}


/* Dreams Details */
.dreams-details {
  margin-top: 10px;
}

.dreams-details p {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 10px;
}

/* styles.css */

.dreams-image {
  max-width: 400px;
  margin-left: auto;
  margin-top: 250px;
}
.tenth{
  margin-top: 20px;
  height:400px;
  width:400px;
  margin-bottom: 20px;
}

.twelth{
  margin-top: 20px;
  height:500px;
  width:400px;
  margin-bottom: 20px;
}

